body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: center;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(63, 34, 68);
}

.div_one {
    display: grid;
    padding: 2%;
    grid-row: 1;
    height: 180%;
    width: 120%;
    grid-template-rows: 30% 70%;
    background-color: rgb(93, 58, 99);
    border-radius: 5px;
}

h1 {
    margin: 0;
    color: rgb(63, 34, 68);
}

.div_form {
    display: grid;
    grid-row: 1;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 2fr);
    gap: 10%;
}

form input {
    padding: 2%;
}

input.username {
    grid-column: 1 / 2;
    width: 210%;
    padding: 3%;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    border-bottom: 4px solid rgb(63, 34, 68);
    color: rgb(187, 187, 185);
    font-size: 14px;
    outline: none;
    color:rgb(167, 154, 93);
    font-weight: bold;
}

input.username::placeholder{
    color: rgb(74, 50, 78);
    font-weight: bold;
}

input.password {
    grid-column: 1 / 2;
    width: 210%;
    padding: 3%;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    border-bottom: 4px solid rgb(63, 34, 68);
    outline: none;
    color:rgb(167, 154, 93);
    font-weight: bold;
    font-size: 14px;
    transition: 900ms ease border-bottom;
}

input.password::placeholder{
    color: rgb(74, 50, 78);
    font-weight: bold;
}

input.email {
    grid-column: 1 / 2;
    width: 210%;
    padding: 3%;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    border-bottom: 4px solid rgb(63, 34, 68);
    outline: none;
    color:rgb(167, 154, 93);
    font-weight: bold;
    font-size: 14px;
    transition: 900ms ease border-bottom;
}

input.email::placeholder{
    color: rgb(74, 50, 78);
    font-weight: bold;
}


label.label_pass {
    grid-column: 1;
    color: rgb(135, 110, 139);
    font-weight: bold;
}

label.label_user {
    grid-column: 1;
    color: rgb(135, 110, 139);
    font-weight: bold;
}

label.label_email {
    grid-column: 1;
    color: rgb(135, 110, 139);
    font-weight: bold;
}

.btn {
    margin: auto;
    grid-column: 1 / 2;
    padding: 4%;
    color: white;
    background: rgb(104, 93, 167);
    border: 2px solid rgb(104, 93, 167);
    border-radius: 2px;
    width: 80px;
    cursor: pointer;
    transition: 300ms ease all;
}

.btn:hover {
    background: rgb(91, 81, 145);
    border: 2px solid rgb(91, 81, 145);
    width: 130px;
}

form a {
    display: block;
    font-size: 12px;
    grid-column: 2;
    text-align: center;
    width: 30%;
    margin-left: 25%;
    text-decoration: none;
    color: white;
    background: rgb(206, 99, 99);
    border: 2px solid rgb(206, 99, 99);
    border-radius: 2px;
    padding: 3%;
    transition: 300ms ease all;
    margin-top: 2%;
}

form a:hover {
    background: rgb(209, 62, 62);
    border: 2px solid rgb(209, 62, 62);
}
